backend/node_modules
backend/.debugger
backend/.release
backend/package-lock.json
backend/public

client/apps/dist
client/apps/node_modules
client/apps/package-lock.json

client/builder/node_modules
client/builder/package-lock.json

client/kernel/dist
client/kernel/node_modules
client/kernel/package-lock.json

client/local-cloud-os/node_modules
client/local-cloud-os/package-lock.json

users
data.db