backend/.debugger
backend/dist
backend/lc/system.db
backend/lc/apps
backend/lc/client/public
backend/lc/client/views/apps
backend/node_modules
backend/package-lock.json
backend/key.pem

frontend/os/package-lock.json
frontend/os/node_modules

frontend/apps/package-lock.json
frontend/apps/node_modules
frontend/apps/dist
frontend/apps/www/js
