<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Instalación</title>
    <meta name="Description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div id="root"></div>
    <script
      type="module"
      src="/js/setup.js"
      defer></script>
  </body>
</html>