<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-button id="refresh">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" id="progress"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="btn-new-user">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content>
<ion-modal id="create-user-modal">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button id="create-user-cancel">Cancelar</ion-button>
      </ion-buttons>
      <ion-title>Nuevo usuario</ion-title>
      <ion-buttons slot="end">
        <ion-button id="create-user-confirm" strong="true">Guardar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <input type="hidden" name="uuid">
    <ion-list inset>
      <ion-item>
        <ion-input label="Nombre de usuario" label-placement="floating" error-text="Campo requerido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Nombre completo" label-placement="floating" error-text="Campo requerido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Correo electrónico" label-placement="floating" type="email" error-text="Campo requerido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Teléfono" label-placement="floating" type="tel" error-text="Campo requerido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña" label-placement="floating" type="password" error-text="Campo requerido"></ion-input>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal>
<ion-modal id="update-user-modal">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button id="update-user-cancel">Cancelar</ion-button>
      </ion-buttons>
      <ion-title id="update-user-title"></ion-title>
      <ion-buttons slot="end">
        <ion-button id="update-user-confirm" strong="true">Guardar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <input type="hidden" name="uuid">
    <ion-list inset>
      <ion-item>
        <style>
          .thumbnail {
            --size: 140px;
            --border-radius: 14px;
            margin: 0 auto;
            cursor: pointer;
          }
        </style>
        <ion-thumbnail class="thumbnail">
          <img alt="Usuario" src="" />
        </ion-thumbnail>
      </ion-item>
      <ion-item>
        <ion-input label="Nombre completo" label-placement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Correo electrónico" label-placement="floating" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Teléfono" label-placement="floating" type="tel"></ion-input>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal>