<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocalCloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <meta name="theme-color" content="#16161d">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <script type="module" src="/lc-js/lc-js.esm.js"></script>
    <link href="/lc-js/lc-js.css" rel="stylesheet">
  </head>

  <body class="{{ bodyClass }}">
    <input
      type="hidden"
      name="key"
      value="{{ key }}">
  </body>
</html>