<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocalCloud</title>
  </head>

  <body>
    <ion-app>
      <ion-content>
        <ion-text color="primary">
          <h1 class="ion-text-center">404 - Página no encontrada</h1>
        </ion-text>
      </ion-content>
    </ion-app>
    <script type="module">
      await import('/js/core/main.js')
      loadCore()
    </script>
  </body>
</html>