.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  gap: 16px;
}

.explorer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  flex-wrap: wrap;
}

.explorer .item {
  height: fit-content;
  user-select: none;
  height: 52px;
  justify-content: center;
  align-items: flex-start;
}

.explorer .item * {
  user-select: none;
}

@media (min-width: 612px) {
  .explorer {
    flex-direction: row;
  }

  .explorer .item {
    width: 220px;
  }
}