app-profile ion-thumbnail {
  margin: 0 auto;
  --size: 140px;
  --border-radius: 14px;
}

app-menu-profile,
app-menu-settings {
  display: contents;
}

ion-split-pane {
  --side-width: 350px;
  --side-max-width: 350px;
}